<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Offers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../../resources/js/modal.js" th:src="@{/resources/js/modal.js}"></script>
    <script src="../../../resources/js/offer.js" th:src="@{/resources/js/data/offerData.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div th:replace="fragments/modal"></div>
<div th:replace="fragments/modalDelete"></div>

<div class="container">

    <a id="createBtn" type="button" class="btn btn-default" data-source="entity" th:action="@{/offers/add}">
        Create
    </a>

    <table class="table table-hover" id="offers" data-pagination="true">
        <thead>
        <tr>
            <th scope="col" style="text-align: center">№</th>
            <th scope="col" style="text-align: center">Client name</th>
            <th scope="col" style="text-align: center">Credit percent</th>
            <th scope="col" style="text-align: center">Sum</th>
            <th scope="col" style="text-align: center">Percent Sum</th>
            <th scope="col" style="text-align: center">Payment schedule type</th>
            <th scope="col" style="text-align: center">Start date</th>
            <th scope="col" style="text-align: center">Period (months)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="entity, state : ${entities.page}">
            <tr th:id="${entity.id}" data-toggle="collapse" th:data-target="'.background_' +${entity.id}">
                <th style="text-align: center" scope="row" th:text="${state.count}"></th>
                <td style="text-align: center"
                    th:text="${entity.client.lastName}+' '+${entity.client.firstName}+' '+${entity.client.patronymic}">
                    name
                </td>
                <td style="text-align: center" th:text="${entity.credit.percent}">percent</td>
                <td style="text-align: center" th:text="${entity.creditSum}">credit sum</td>
                <td style="text-align: center" th:text="${entity.getPercentsSum()}">percentSum</td>
                <td style="text-align: center" th:text="${entity.paymentScheduleType.getDisplayValue()}">scheduleType
                </td>
                <td style="text-align: center" th:text="${entity.startDate}">start date</td>
                <td style="text-align: center" th:text="${entity.monthsCount}">period</td>
                <td>
                    <div class="btn-group">
                        <a id="paymentScheduleBtn" class="btn btn-default"
                           th:href="@{/payments/offerId/{id}(id=${entity.id})}">Payment Schedule</a>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a id="editBtn" class="btn btn-default"
                           th:href="@{/offers/get/(id=${entity.id})}" th:action="@{/offers/add}">Edit</a>
                        <a id="deleteBtn" class="btn btn-danger" th:href="@{/offers/delete/{id}(id=${entity.id})}">Delete</a>

                    </div>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div th:replace="fragments/pagination"></div>
</div>
</body>

<script>
    $('.table #editBtn').on('click', function (event) {
        event.preventDefault();
        document.getElementById('backendValidation').innerHTML = '';
        var $modal = $('#createModal');
        var href = $(this).attr('href');
        var action = $(this).attr('action');
        $('#createModal #createForm').attr('action', action);
        $('#backendValidation').innerHTML = '';
        $.get(href, function (entity, status) {
            $('#offerId').val(entity.id);
            $('#offerClient').val(entity.client.id).selectpicker('refresh');
            $('#offerCreditSum').val(entity.creditSum);
            $('#offerCredit').val(entity.credit.id).selectpicker('refresh');
            $('#offerMonthsCount').val(entity.monthsCount);
            $('#offerScheduleType').val(entity.paymentScheduleType).selectpicker('refresh');
            $('#offerStartDate').val(entity.startDate);
        });
        $modal.modal();
    })
    $('#createBtn').on('click', function (event) {
        event.preventDefault();
        $('#backendValidation').innerHTML = '';
        $('#offerId').val('');
        $('#offerClient').val('').selectpicker('refresh');
        $('#offerCreditSum').val('');
        $('#offerCredit').val('').selectpicker('refresh');
        $('#offerMonthsCount').val('');
        $('#offerScheduleType').val('').selectpicker('refresh');
        $('#offerStartDate').val('');
    })
    $('#createModal').on('hidden.bs.modal', function () {

    })
</script>


